[Unit]
Description=AsperaBrowser node.js server
Wants=network-online.target
After=network-online.target asperanoded.service
ConditionPathExists=/usr/lib/node_modules/asperabrowser

[Service]
ExecStart=/usr/bin/asperabrowser
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=asperabrowser
SyslogFacility=local2
WorkingDirectory=/opt/asperabrowser

[Install]
WantedBy=multi-user.target
