$blue-10: #c0e6ff;
$blue-20: #7cc7ff;
$blue-30: #5aaafa;
$blue-40: #5596e6;
$blue-50: #4178be;
$blue-60: #325c80;
$blue-70: #264a60;
$blue-80: #1d3649;
$blue-90: #152935;
$blue-100: #010205;

$green-10: #c8f08f;
$green-20: #b4e051;
$green-30: #8cd211;
$green-40: #5aa700;
$green-50: #4b8400;
$green-60: #2d660a;
$green-70: #144d14;
$green-80: #0a3c02;
$green-90: #0c2808;
$green-100: #010200;

$teal-10: #a7fae6;
$teal-20: #6eedd8;
$teal-30: #41d6c3;
$teal-40: #00b4a0;
$teal-50: #008571;
$teal-60: #006d5d;
$teal-70: #005448;
$teal-80: #003c32;
$teal-90: #012b22;
$teal-100: #000202;

$purple-10: #eed2ff;
$purple-20: #d7aaff;
$purple-30: #ba8ff7;
$purple-40: #af6ee8;
$purple-50: #9855d4;
$purple-60: #734098;
$purple-70: #562f72;
$purple-80: #412356;
$purple-90: #311a41;
$purple-100: #030103;

$magenta-10: #ffd2ff;
$magenta-20: #ff9eee;
$magenta-30: #ff71d4;
$magenta-40: #ff3ca0;
$magenta-50: #db2780;
$magenta-60: #a6266e;
$magenta-70: #7c1c58;
$magenta-80: #601146;
$magenta-90: #3a0b2e;
$magenta-100: #040102;

$red-10: #ffd2dd;
$red-20: #ffa5b4;
$red-30: #ff7d87;
$red-40: #ff5050;
$red-50: #e71d32;
$red-60: #ad1625;
$red-70: #8c101c;
$red-80: #6e0a1e;
$red-90: #4c0a17;
$red-100: #040001;

$orange-10: #ffd4a0;
$orange-20: #ffa573;
$orange-30: #ff7832;
$orange-40: #ff5003;
$orange-50: #d74108;
$orange-60: #a53725;
$orange-70: #872a0f;
$orange-80: #6d120f;
$orange-90: #43100b;
$orange-100: #030100;

$yellow-10: #fde876;
$yellow-20: #fdd600;
$yellow-30: #efc100;
$yellow-40: #be9b00;
$yellow-50: #8c7300;
$yellow-60: #735f00;
$yellow-70: #574a00;
$yellow-80: #3c3200;
$yellow-90: #281e00;
$yellow-100: #020100;

$gray-10: #e0e0e0;
$gray-20: #c7c7c7;
$gray-30: #aeaeae;
$gray-40: #959595;
$gray-50: #777677;
$gray-60: #5a5a5a;
$gray-70: #464646;
$gray-80: #323232;
$gray-90: #121212;
$gray-100: #000;

$cool-gray-10: #dfe9e9;
$cool-gray-20: #c8d2d2;
$cool-gray-30: #aeb8b8;
$cool-gray-40: #959f9f;
$cool-gray-50: #6d7777;
$cool-gray-60: #5a6464;
$cool-gray-70: #3c4646;
$cool-gray-80: #323c3c;
$cool-gray-90: #0d1111;
$cool-gray-100: #000203;

$warm-gray-10: #e9e0e0;
$warm-gray-20: #d0c7c7;
$warm-gray-30: #b8aeae;
$warm-gray-40: #9e9494;
$warm-gray-50: #7d7373;
$warm-gray-60: #645a5a;
$warm-gray-70: #504646;
$warm-gray-80: #3c3232;
$warm-gray-90: #1a1314;
$warm-gray-100: #030000;

$white-10: #fdfdfd;
$white-20: #f9f9f9;
$white-30: #f4f4f4;
$white-40: #ececec;

$cool-white-10: #fbfcfc;
$cool-white-20: #f9f9fb;
$cool-white-30: #f0f2f4;
$cool-white-40: #ecf0f2;
$warm-white-10: #fdfbfb;
$warm-white-20: #fdfbfb;
$warm-white-30: #f7f5f5;
$warm-white-40: #f2eeee;

$white: #fff;
$black: #000;