<!-- toolbar -->
<mat-toolbar color="primary" class="app-toolbar">
  <p>Aspera Connect - Angular Sample</p>
  <span class="app-toolbar-filler"></span>
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container autosize class="app-sidenav-container">

  <!-- side nav -->
  <mat-sidenav #sidenav position="end" mode="over" class="app-sidenav">
    <mat-card>
      <h3> Settings: </h3>
      <mat-form-field class="full-width">
        <mat-placeholder>
          <mat-icon>link</mat-icon> NodeAPI URL
        </mat-placeholder>
        <input matInput #url [(ngModel)]="nodeAPIcred.nodeURL" type="url" required>
      </mat-form-field>
      <br/>

      <mat-form-field class="full-width">
        <mat-placeholder>
          <mat-icon>person</mat-icon> User
        </mat-placeholder>
        <input matInput #user [(ngModel)]="nodeAPIcred.nodeUser" type="text" required>
      </mat-form-field>
      <br/>

      <mat-form-field class="full-width">
        <mat-placeholder>
          <mat-icon>lock</mat-icon> Password
        </mat-placeholder>
        <input matInput #password [(ngModel)]="nodeAPIcred.nodePW" [type]="hidePW ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hidePW = !hidePW">{{ hidePW ? 'visibility' : 'visibility_off' }}</mat-icon>
      </mat-form-field>
      <p>
        <button mat-raised-button class="test-button" (click)="testconnection()">Test Connection</button>
        <mat-icon color="accent" class="test-icon" [ngStyle]=" isConnected ? {color: 'green'} : {} ">{{ isConnected ? 'check_circle' : 'error' }}</mat-icon>
      </p>
    </mat-card>

    <mat-card>
      <h3> Useful Info: </h3>
      <mat-nav-list dense>
        <a mat-list-item target="_blank" href="https://demo.asperasoft.com">
          <mat-icon color='primary' class="sidenav-icon">link</mat-icon>
          <span class="sidenav-link">Aspera Demoserver</span>
        </a>
      </mat-nav-list>
    </mat-card>
  </mat-sidenav>

  <!-- main page -->
  <mat-sidenav-content>
    <mat-card>

      <!-- header -->
      <mat-card-header>
        <img src="assets/aspera_icon.png" mat-card-avatar>
        <mat-card-title>
          <span class="title">Aspera Browser</span>
        </mat-card-title>
        <mat-card-subtitle>{{ nodeAPIcred.nodeUser }} @ {{ nodeAPIcred.nodeURL }} </mat-card-subtitle>
      </mat-card-header>

      <!-- buttons / status -->
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="(dirList) ? browse(dirList.self.path) : browse('/')">
          <mat-icon>refresh</mat-icon>
          Refresh
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length !== 0) ? false : true" (click)="download()">
          <mat-icon>file_download</mat-icon>
          Download
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length === 0) ? false : true" (click)="showSelectFileDialog()">
          <mat-icon>file_upload</mat-icon>
          Upload File
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length === 0) ? false : true" (click)="showSelectFolderDialog()">
          <mat-icon>open_in_browser</mat-icon>
          Upload Folder
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length !== 0) ? false : true" (click)="selection.clear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        <button mat-raised-button color="accent" [disabled]="(dirList && selection.selected.length !== 0) ? false : true" (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete Files
        </button>
        <mat-progress-bar mode="indeterminate" *ngIf="browseInProgress"></mat-progress-bar>

        <!-- result / table -->
        <div *ngIf="dirList">
          <p class="path">
            <mat-icon color="primary" class="home-icon" (click)="browse('/')">home</mat-icon>
            <span *ngFor="let i of breadcrumbNav">
              <span class="home-slash"> / </span>
              <span class="home-txt" (click)="browse(i.path)"> {{ i.dirname }} </span>
            </span>
            <!-- <mat-icon color="accent" *ngIf="(dirList.self.permissions[1].name != 'edit')">lock_outline</mat-icon> -->
            <!-- <mat-icon color="blue"   *ngIf="(dirList.self.permissions[1].name == 'edit')">lock_open</mat-icon> -->
          </p>

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef> {{ selection.selected.length }} </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let item" (click)="(item.type == 'directory') ? browse(item.path) : 0">
                <mat-icon color="primary" class="folder-icon" *ngIf="(item.type == 'directory')" mat-list-icon>folder</mat-icon>
                <mat-icon *ngIf="(item.type == 'file')" mat-list-icon>insert_drive_file</mat-icon>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell [ngClass]="(item.type == 'directory') ? 'folder-txt' : 'file-txt' " *matCellDef="let item" (click)="(item.type == 'directory') ? browse(item.path) : 0">
                {{ item.basename }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="size">
              <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{ item.size | size }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mtime">
              <mat-header-cell *matHeaderCellDef> M Time </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{ item.mtime | date:'yyyy-MM-dd HH:mm:ss z' }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>