<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <mat-nav-list dense>
      <a mat-list-item target="_blank" href="{{baseURL}}/red">
        <mat-icon>link</mat-icon> bla </a>
      <a mat-list-item target="_blank" href="{{baseURL}}/db">
        <mat-icon>link</mat-icon> bla 2 </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p>Aspera Connect Angular Sample - WebApp</p>
    <span class="app-toolbar-filler"></span>
  </mat-toolbar>

<div class="app-content">
  <mat-card>
    <mat-card-header>
      <img src="assets/aspera_icon.png" mat-card-avatar>
      <mat-card-title>
        <span class="title">Aspera Download</span>
      </mat-card-title>
      <mat-card-subtitle>from demo.asperasoft.com server </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button color="primary">Download 100MB</button>
    </mat-card-content>
  </mat-card>
</div>
</mat-sidenav-container>
