.app-sidenav {
  padding: 10px;
  min-width: 450px;
  background-color: snow
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.toolbar-button {
  min-width: 36px;
  margin: 0px;
  padding: 0px;
}

.mat-sidenav mat-card {
  margin: 10px;
  padding: 10px;
}

.mat-sidenav-content mat-card {
  min-height: 600px;
  margin: 20px;
  padding: 20px;
  margin-bottom: 10px;
}

.sidenav-icon {
  font-size: 24px;
  vertical-align: middle;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.sidenav-link {
  color: #3f51b5;
  font-size: 16px;
}

.mat-radio-button {
  margin: 5px;
}

.mat-card-avatar {
  height: 60px;
  width: 60px;
}

.title {
  font-size: 24px;
}

.mat-card-subtitle {
  font-size: 16px;
}

button {
  margin: 5px;
}

.menu-button {
  min-width: 100px;
}

.transfer-sidenav {
  padding: 10px;
  padding-left: 0px;
  min-width: 400px;
  background-color: snow
}

.transfer-date {
  font-weight: 300;
  font-size: 12px;
  text-align: right;
  position: relative;
  top: -5px;
}

.transfer-title {
  font-weight: 500;
  padding-bottom: 0px;
  position: relative;
  top: -12px;
}

.transfer-icon {
  position: relative;
  top: 8px;
}

.transfer-subtitle {
  font-weight: 300;
  font-size: 14px;
}

.transfer-bar mat-progress-bar {
  padding-top: 3px;
  padding-bottom: 3px;
}

.transfer-detail {
  font-weight: 300;
  font-size: 14px;
}

.transfer-button {
  min-width: 24px;
  margin: 0px;
  padding: 0px;
}

.all-transfer-title {
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 0px;
}

.all-transfer-button-row {
  height: 28px;
  position: relative;
  top: -5px;
}

.all-transfer-button {
  min-width: 24px;
  margin: 0px;
  padding: 0px;
}

.mat-progress-bar {
  height: 6px;
}

.progressInfo {
  margin-left: 5px;
  margin-top: 10px;
}

.status {
  color: #ff4081;
  font-size: 10px;
  font-weight: 700;
}

.path {
  margin: 5px;
  margin-left: 10px;
  margin-top: 10px;
}

.filter {
  width: 50%;
  margin-left: 15px;
}

.mat-table {
  height: calc( 100vh - 435px);
  overflow: auto;
}

.dragging-over-grid mat-table {
  background-color: #3f51b510;
  border: 2px dashed #3f51b5;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.home-icon {
  height: 36px;
  width: 36px;
  font-size: 36px;
  vertical-align: middle;
  cursor: pointer;
}

.home-slash {
  font-size: 24px;
  vertical-align: middle;
}

.home-txt {
  font-size: 24px;
  vertical-align: middle;
  color: #3f51b5;
  cursor: pointer;
}

.folder-icon {
  cursor: pointer;
}

.folder-txt {
  color: #3f51b5;
  cursor: pointer;
}

.test-icon {
  font-size: 36px;
  vertical-align: middle;
  height: 36px;
  width: 36px;
  margin-left: 10px;
}

.test-button {
  vertical-align: middle;
}

.mat-header-row, .mat-row, .mat-footer-row {
  min-height: 32px;
}

.mat-header-row, .mat-footer-row {
  font-weight: bold;
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 900;
}

.mat-column-select {
  overflow: initial;
  max-width: 36px;
}

.mat-column-type {
  max-width: 36px;
}

.mat-column-size {
  max-width: 64px;
}

.full-width {
  width: 90%;
}

.version-footer {
  margin-left: 20px;
  color: #BBB;
  font-size: small;
}