<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav #sidenav mode="side" class="app-sidenav">
    <mat-nav-list dense>
      <a mat-list-item target="_blank" href="https://developer.asperasoft.com/web/connect-client/all">
        <mat-icon>link</mat-icon> Aspera Connect Client API </a>
      <a mat-list-item target="_blank" href="https://developer.asperasoft.com/web/node/index">
        <mat-icon>link</mat-icon> Aspera Node API (RESTfull) </a>
      <a mat-list-item target="_blank" href="https://demo.asperasoft.com">
        <mat-icon>link</mat-icon> Aspera Demoserver </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <p>Aspera Connect Angular Sample - WebApp</p>
    <span class="app-toolbar-filler"></span>
    <button mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #settings="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>Settings
    </button>
  </mat-menu>

  <div class="app-content">

    <mat-card>
      <mat-card-header>
        <img src="assets/aspera_icon.png" mat-card-avatar>
        <mat-card-title>
          <span class="title">Aspera Browse</span>
        </mat-card-title>
        <mat-card-subtitle>{{ nodeAPI.nodeAPIcred.nodeUser }} @ {{ nodeAPI.nodeAPIcred.nodeURL }} </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <button mat-raised-button color="primary" (click)="(dirList) ? browse(dirList.self.path) : browse('/')">
          <mat-icon>refresh</mat-icon>
          Refresh
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length !== 0) ? false : true" (click)="download()">
          <mat-icon>file_download</mat-icon>
          Download
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length === 0) ? false : true" (click)="showSelectFileDialog()">
          <mat-icon>file_upload</mat-icon>
          Upload File
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length === 0) ? false : true" (click)="showSelectFolderDialog()">
          <mat-icon>open_in_browser</mat-icon>
          Upload Folder
        </button>
        <button mat-raised-button color="primary" [disabled]="(dirList && selection.selected.length !== 0) ? false : true" (click)="selection.clear()">
          <mat-icon>clear</mat-icon>
          Clear
        </button>
        <mat-progress-bar mode="indeterminate" *ngIf="browseInProgress"></mat-progress-bar>

        <div *ngIf="dirList">
          <p>
            <mat-icon (click)="browse('/')">home</mat-icon>
            {{ dirList.self.path }}
            <!-- <mat-icon color="accent" *ngIf="(dirList.self.permissions[1].name != 'edit')">lock_outline</mat-icon> -->
            <!-- <mat-icon color="blue"   *ngIf="(dirList.self.permissions[1].name == 'edit')">lock_open</mat-icon> -->
          </p>

          <mat-table #table [dataSource]="dataSource">

            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef> {{ selection.selected.length }} </mat-header-cell>
              <mat-cell *matCellDef="let item">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let item" (click)="(item.type == 'directory') ? browse(item.path) : 0">
                <mat-icon *ngIf="(item.type == 'directory')" mat-list-icon>folder</mat-icon>
                <mat-icon *ngIf="(item.type == 'file')" mat-list-icon>insert_drive_file</mat-icon>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
              <mat-cell [ngStyle]="{ color: ( item.type == 'directory' ) ? 'blue' : 'primary' }" *matCellDef="let item" (click)="(item.type == 'directory') ? browse(item.path) : 0">
                {{ item.basename }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="size">
              <mat-header-cell *matHeaderCellDef> Size </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{ item.size | size}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="mtime">
              <mat-header-cell *matHeaderCellDef> M Time </mat-header-cell>
              <mat-cell *matCellDef="let item"> {{ item.mtime | date:'yyyy-MM-dd HH:mm:ss z' }} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</mat-sidenav-container>