<!DOCTYPE html>
<html>

{% assign base = './' %}
{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base = './' %}
{% elsif depth == 2 %}{% assign base = '../' %}
{% elsif depth == 3 %}{% assign base = '../../' %}
{% elsif depth == 4 %}{% assign base = '../../../' %}{% endif %}

<head>
<title>Watson &amp; Cloud Platform API Implementation Handbook: {{ page.title }}</title>
<meta charset="utf-8">
<link href='{{ base }}doc/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body class="{{ page.title | slugify }}">
<header>
    <h1>Watson &amp; Cloud Platform <strong>API Implementation Handbook</strong></h1>
</header>
<div id="background">
<div id="page">
<nav>
    <h3>Fundamentals</h3>
    <ul>
        <li><a href="{{ base }}" class="introduction">Introduction</a></li>
        <li><a href="{{ base }}doc/fundamentals/format.html" class="format">Format</a></li>
        <li><a href="{{ base }}doc/fundamentals/methods.html" class="methods">Methods</a></li>
        <li><a href="{{ base }}doc/fundamentals/headers.html" class="headers">Headers</a></li>
        <li><a href="{{ base }}doc/fundamentals/status-codes.html" class="status-codes">Status Codes</a></li>
        <!--<li><a href="{{ base }}fundamentals/authentication.html" class="authentication">Authentication</a></li>-->
    </ul>
    <h3>Design</h3>
    <ul>
        <li><a href="{{ base }}doc/design/terminology.html" class="terminology">Terminology</a></li>
        <li><a href="{{ base }}doc/design/models.html" class="models">Models</a></li>
        <li><a href="{{ base }}doc/design/types.html" class="types">Types</a></li>
        <li><a href="{{ base }}doc/design/uris.html" class="uris">URIs</a></li>
        <li><a href="{{ base }}doc/design/errors.html" class="errors">Errors</a></li>
    </ul>
    <h3>Collections</h3>
    <ul>
        <li><a href="{{ base }}doc/collections/overview.html" class="collections">Overview</a></li>
        <li><a href="{{ base }}doc/collections/pagination.html" class="pagination">Pagination</a></li>
        <li><a href="{{ base }}doc/collections/sorting.html" class="sorting">Sorting</a></li>
        <li><a href="{{ base }}collections/filtering.html" class="filtering">Filtering</a></li>
        <!--<li><a href="{{ base }}collections/searching.html" class="searching">Searching</a></li>-->
    </ul>
    <h3>Versioning</h3>
    <ul>
        <li><a href="{{ base }}doc/versioning/overview.html" class="versioning">Overview</a></li>
        <li><a href="{{ base }}versioningdoc//compatibility.html" class="compatibility">Compatibility</a></li>
        <!--<li><a href="{{ base }}versioning/deprecation.html" class="deprecation">Deprecation</a></li>-->
    </ul>
    <!--<h3>Testing</h3>
    <ul>
        <li><a href="{{ base }}testing/overview.html" class="testing">Overview</a></li>
        <li><a href="{{ base }}testing/unit-testing.html" class="unit-testing">Unit Testing</a></li>
        <li><a href="{{ base }}testing/functional-testing.html" class="functional-testing">Functional Testing</a></li>
    </ul>-->
    <h3>Meta</h3>
    <ul>
        <!--<li><a href="{{ base }}meta/about.html" class="about">About These Guidelines</a></li>-->
        <li><a href="{{ base }}meta/contributing.html" class="contributing">Contributing</a></li>
    </ul>
</nav>
<main>
<article>
{{ content }}
</article>
</main>
</div>
</div>
<script src='{{ base }}doc/scripts/behavior.js'></script>
</body>
</html>
